#!/bin/bash
set -e

if [[ -f ~/.nvm/nvm.sh ]]; then
    source ~/.nvm/nvm.sh
    nvm use 6.10.3
fi

unset AWS_ACCESS_KEY_ID
unset AWS_SECRET_ACCESS_KEY

export AWS_DEFAULT_PROFILE=baby-mobile
export AWS_REGION="us-west-2"

